dvc==3.59.0  ; extra == "dev"
flask==3.1.0
numpy==2.2.2
joblib==1.4.2
pytest==8.3.4 ; extra == "dev"
pytest-cov==6.0.0 ; extra == "dev"
flake8==7.1.1 ; extra == "dev"
mlflow==2.20.0 ; extra == "dev"
pandas==2.2.3
scikit-learn==1.6.1
optuna==4.2.0 ; extra == "dev"
pytest-mock==3.14.0 ; extra == "dev"
requests==2.32.3 ; extra == "dev"
dvc_gdrive==3.0.1 ; extra == "dev"